body {
  font-family: "Montserrat";
  background-color: #f8f7f3;
}



/* .form-control:focus {
    border-color: rgba(142, 142, 237, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 1px 1px 8px rgba(142, 142, 237, 0.6);
  outline: 0 none;
} */

.container-tabla {
  background-color: #fff;
  box-shadow: 0px 18.92px 37.84px rgb(38 26 25 / 25%);
  border-radius: 8px;
  margin: 3em auto;
  padding: 2em;
}

.color-fondo-tema {
  background-color: rgb(100, 100, 245);
  color: #fff;
}

/* .color-fondo-tema2{
  background-color: rgb(142, 142, 237);
  color: #fff;
} */

.button-tema {
  background-color: rgb(142, 142, 237);
  color: #fff;
}

.button-tema:hover {
  background-color: rgb(100, 100, 213);
  color: #fff;
}

.button-tema2 {
  background-color: rgb(100, 100, 245);
  color: #fff;
}

.button-tema2:hover {
  background-color: rgb(66, 66, 213);
  color: #fff;
}

.color-rojo{
  color: rgb(255, 66, 66);
}

.color-verde{
  color: rgb(89, 204, 93);
}

.color-amarillo{
  color: rgb(238, 243, 0);
}

.filaTabla{
  transition: 0.3s;
}

.filaTabla:hover {
  background-color: rgb(100, 100, 245);
  color: #fff;
  cursor: pointer;
}


/* 
BOTONES AÑADIR TAREA
*/

.middle {
  width: 100%;
  text-align: center;
}
.middle input[type="radio"] {
  display: none;
}
.middle input[type="radio"]:checked + .box {
  background-color: rgb(100, 100, 213);
}
.middle input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(20px);
}
.middle input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.middle .box {
  border-radius: 0.25em;
  width: 15em;
  height: 7em;
  background-color: rgb(142, 142, 237);
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.middle .box:active {
  transform: translateY(10px);
}
.middle .box span {
  position: absolute;
  transform: translate(0, 30px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: rgb(190, 190, 190);
}
.middle .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}

.middle .sugerencia span:before {
  content: "\f0eb";
}
.middle .incidencia span:before {
  content: "\f06a";
}
.middle .felicitacion span:before {
  content: "\f004";
}

.basura:hover {
  color: rgb(255, 66, 66);
}

.asignado {
  color: rgb(52, 195, 64);
}

.sin-asignar {
  color: rgb(237, 37, 37);
}
