<div class="modal" <% if (usuario==null) { %> id="borrarModal<%=aviso.Id%>" <% } else { %> id="borrarModal<%=usuario.Id%>"<% } %> data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <% if (usuario == null) { %>
          <p>¿Está seguro que desea borrar el aviso?</p>
        <% } else { %>
          <p>¿Está seguro que desea borrar al usuario?</p>
        <% } %>
      </div>
      <div class="modal-footer d-flex justify-content-around">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <% if (usuario == null) { %>
          <form action="/borrarAviso/<%=aviso.Id%>" method="post">
            <button type="submit" class="btn btn-danger">Borrar</button>
          </form>
        <% } else { %>
          <form action="/borrarUsuario/<%=usuario.Id%>" method="post">
            <button type="submit" class="btn btn-danger">Borrar</button>
          </form>
        <% } %>
        
      </div>
    </div>
  </div>
</div>