<!DOCTYPE html>
<html lang="en">
    <%- include("head") %>
</head>
<body>
    <%- include("navbar", {usuario: usuario, panel: panel}) %>
    <h5><%= usuario.name %></h5>
    <h5>Historico</h5>
</body>
</html>