<!DOCTYPE html>
<html lang="en">
<%- include("head") %>
    <!-- login.css -->

    <link rel="stylesheet" href="/css/singup.css">
    <script src="/scripts/singup.js"></script>
</head>
    <% if (errors != false) { %>
            <% errors.forEach (er => { %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <%= `${er.param} : ${er.msg}`%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% })%>
        
    <% } %>

    <body class="p-5">
        <div class="container-sm panel-principal">
            <div class="row justify-content-center m-3">
                <img class="logo" src="/images/logoUCM.jpg" alt="logo UCM">
            </div>
            <div class="row m-3">
                <form class="" action="/signup" method="post" enctype="multipart/form-data">
                    <div class="row g-2">
                        <div class="col-md"><div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your e-mail" required>
                            <label for="floatingInputValue">Your e-mail</label>
                        </div></div>
                        <div class="col-md"><div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your name" required>
                            <label for="floatingInputValue">Your name</label>
                        </div></div>
                    </div>

                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Your password" required>
                                <label for="floatingInputValue">Your password</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm your password" required>
                                <label for="floatingInputValue">Confirm your password</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-floating mb-3">
                    <select class="form-select" id="perfilUniversitario" onchange="pasSelected()" name="perfil" aria-label="Perfil universitario">
                        <option value="pas" selected>Personal de Administración y Servicios</option>
                        <option value="alumno">Alumno</option>
                        <option value="pdi">Personal Docente e Investigador</option>
                        <option value="antiguo-alumno">Antiguo alumno</option>
                      </select>
                      <label for="floatingSelect">Perfil universitario</label>
                    </div>
                    
                    <input type="file" accept="image/*" class="form-control mb-3" name="image" id="image" placeholder="Select user image">
                    
                    <!-- <div class="input-group mb-3" id="pasSwitch">
                        <div class="input-group-text">
                            <input class="form-check-input" type="checkbox" value="techSelected" aria-label="Checkbox for following text input">
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" name="nEmpleado" id="nEmpleado" placeholder="Your employee number">
                            <label for="nEmpleado">Your employee number</label>
                         </div>
                    </div> -->

                    <div class="form-floating mb-3" id="pasSwitch">
                        <div class="input-group" >
                            <div class="input-group-text">
                                <input class="form-check-input" type="checkbox" name="checkEmpleado" value="techSelected" aria-label="Checkbox for following text input">
                            </div>
                            <input type="text" class="form-control" name="nEmpleado" id="nEmpleado" placeholder="Your employee number">
                            
                        </div>
                    </div>

                    <div class="col text-center">
                        <button type="submit" class="btn submit-button">Registrarse</button>
                    </div>
                </form>
            </div>
            <div class="row m-3">
                <div class="col text-center">
                    <p>
                        ¿Ya tienes cuenta? <a href="/login" class="enlace">Inicia sesión</a>
                    </p>
                </div>
            </div>
        </div>
    </body>

</html>